In [1]:
import sys
import os
sys.path.append(os.path.abspath('../'))

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from dynamo.create_longitudinal_characteristics_vector import LongitudinalFeatureSelector

In [4]:
plt.rcParams['figure.dpi'] = 100
sns.set_style('whitegrid')
plt.rcParams["axes.edgecolor"] = "black"
plt.rcParams["axes.linewidth"] = 1

In [5]:
wd =  './data/data_original/ready_files/'

In [6]:
male_df = pd.read_csv(wd + 'male_rarefied_18000_interpolated_pchip.tsv', sep = '\t', index_col = [0]).T
female_df = pd.read_csv(wd + 'female_rarefied_18000_interpolated_pchip.tsv', sep = '\t', index_col = [0]).T
donorA_df = pd.read_csv(wd + 'donorA_rarefied_18000_interpolated_pchip.tsv', sep = '\t', index_col = [0]).T
donorB_df = pd.read_csv(wd + 'donorB_rarefied_18000_interpolated_pchip.tsv', sep ='\t', index_col = [0]).T

datasets = {'male': male_df, 'female': female_df, 'donorA' : donorA_df, 'donorB' : donorB_df}
subjects =  ['male', 'female', 'donorA', 'donorB']

In [7]:
selector = LongitudinalFeatureSelector(datasets, subjects)
#final_features = selector.run_feature_selection()

In [8]:
selector.calculate_mean_std()

(                                                feature      mean subject
 0     TACGGAGGGTGCGAGCGTTAATCGGAATAACTGGGCGTAAAGGGCA...  2.625282    male
 1     TACGTATGTCACAAGCGTTATCCGGATTTATTGGGCGTAAAGCGCG...  0.065463    male
 2     TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGAG...  0.047404    male
 3     TACGTAGGTCCCGAGCGTTGTCCGGATTTATTGGGCGTAAAGCGAG...  0.194131    male
 4     TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCG...  0.600451    male
 ...                                                 ...       ...     ...
 1564  TACGAAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...  0.324111  donorB
 1565  TACGGAGGGTGCAAGCGTTATCCGGATTCACTGGGTTTAAAGGGTG...  0.090909  donorB
 1566  TACGTAGGGAGCGAGCGTTATCCGGATTTATTGGGTGTAAAGGGTG...  0.007905  donorB
 1567  TACGCAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...  0.003953  donorB
 1568  TACGGAGGATGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...  0.003953  donorB

 [4897 rows x 3 columns],
                                                 feature       std subject
 0     TACGGAGGGTGCGAGCGTTAATCGGAATAACTGGGCGTAAAGGGCA...  8.056896    male
 1     TACGTATGTCACAAGCGTTATCCGGATTTATTGGGCGTAAAGCGCG...  0.496826    male
 2     TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGAG...  0.533927    male
 3     TACGTAGGTCCCGAGCGTTGTCCGGATTTATTGGGCGTAAAGCGAG...  0.581200    male
 4     TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCG...  1.599123    male
 ...                                                 ...       ...     ...
 1564  TACGAAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...  3.238792  donorB
 1565  TACGGAGGGTGCAAGCGTTATCCGGATTCACTGGGTTTAAAGGGTG...  0.993848  donorB
 1566  TACGTAGGGAGCGAGCGTTATCCGGATTTATTGGGTGTAAAGGGTG...  0.125739  donorB
 1567  TACGCAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...  0.062869  donorB
 1568  TACGGAGGATGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...  0.062869  donorB

 [4897 rows x 3 columns])

In [9]:
selector.run_ljung_box_test()

,feature,ljung_box_noise,subject
0,TACGGAGGGTGCGAGCGTTAATCGGAATAACTGGGCGTAAAGGGCA...,2.510707e-21,male
1,TACGTATGTCACAAGCGTTATCCGGATTTATTGGGCGTAAAGCGCG...,2.430337e-67,male
2,TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGAG...,9.873375e-01,male
3,TACGTAGGTCCCGAGCGTTGTCCGGATTTATTGGGCGTAAAGCGAG...,1.135457e-01,male
4,TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCG...,1.232550e-04,male
...,...,...,...
4892,TACGAAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...,2.937556e-01,donorB
4893,TACGGAGGGTGCAAGCGTTATCCGGATTCACTGGGTTTAAAGGGTG...,4.395368e-01,donorB
4894,TACGTAGGGAGCGAGCGTTATCCGGATTTATTGGGTGTAAAGGGTG...,9.995315e-01,donorB
4895,TACGCAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...,9.995315e-01,donorB
4896,TACGGAGGATGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,9.995281e-01,donorB

In [10]:
selector.test_acf_noise()

                                                feature  acf_noise subject
0     TACGGAGGGTGCGAGCGTTAATCGGAATAACTGGGCGTAAAGGGCA...          0    male
1     TACGTATGTCACAAGCGTTATCCGGATTTATTGGGCGTAAAGCGCG...          0    male
2     TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGAG...          0    male
3     TACGTAGGTCCCGAGCGTTGTCCGGATTTATTGGGCGTAAAGCGAG...          0    male
4     TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCG...          0    male
...                                                 ...        ...     ...
4892  TACGAAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...          0  donorB
4893  TACGGAGGGTGCAAGCGTTATCCGGATTCACTGGGTTTAAAGGGTG...          0  donorB
4894  TACGTAGGGAGCGAGCGTTATCCGGATTTATTGGGTGTAAAGGGTG...          1  donorB
4895  TACGCAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...          1  donorB
4896  TACGGAGGATGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...          1  donorB

[4897 rows x 3 columns]

In [10]:
# Lekkie roznice
selector.calculate_flatness()

,feature,flatness_score,subject
0,TACGGAGGGTGCGAGCGTTAATCGGAATAACTGGGCGTAAAGGGCA...,0.075689,male
1,TACGTATGTCACAAGCGTTATCCGGATTTATTGGGCGTAAAGCGCG...,0.002767,male
2,TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGAG...,0.744503,male
3,TACGTAGGTCCCGAGCGTTGTCCGGATTTATTGGGCGTAAAGCGAG...,0.145116,male
4,TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCG...,0.114320,male
...,...,...,...
4892,TACGAAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...,0.273609,donorB
4893,TACGGAGGGTGCAAGCGTTATCCGGATTCACTGGGTTTAAAGGGTG...,0.221586,donorB
4894,TACGTAGGGAGCGAGCGTTATCCGGATTTATTGGGTGTAAAGGGTG...,0.931179,donorB
4895,TACGCAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...,0.931179,donorB
4896,TACGGAGGATGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,0.931088,donorB

In [8]:
selector.test_stationarity()

,feature,ADF_pvalue,KPSS_pvalue,ADF_stat,KPSS_stat,subject
0,TACGGAGGGTGCGAGCGTTAATCGGAATAACTGGGCGTAAAGGGCA...,3.415240e-01,0.049286,1,1,male
1,TACGTATGTCACAAGCGTTATCCGGATTTATTGGGCGTAAAGCGCG...,7.575700e-05,0.100000,0,0,male
2,TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGAG...,0.000000e+00,0.100000,0,0,male
3,TACGTAGGTCCCGAGCGTTGTCCGGATTTATTGGGCGTAAAGCGAG...,6.598690e-26,0.100000,0,0,male
4,TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCG...,7.333369e-04,0.100000,0,0,male
...,...,...,...,...,...,...
4892,TACGAAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...,3.582880e-13,0.100000,0,0,donorB
4893,TACGGAGGGTGCAAGCGTTATCCGGATTCACTGGGTTTAAAGGGTG...,8.081635e-08,0.100000,0,0,donorB
4894,TACGTAGGGAGCGAGCGTTATCCGGATTTATTGGGTGTAAAGGGTG...,8.902867e-29,0.100000,0,0,donorB
4895,TACGCAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...,8.902867e-29,0.100000,0,0,donorB
4896,TACGGAGGATGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,8.902867e-29,0.100000,0,0,donorB

In [8]:
selector.run_feature_selection()

D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:404: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data['subject'] = self.subjects[i]
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:404: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data['subject'] = self.subjects[i]
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:404: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data['subject'] = self.subjects[i]
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:404: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data['subject'] = self.subjects[i]
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:255: RuntimeWarning: divide by zero encountered in divide
  period = 1 / freq
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:271: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  score = np.round(stats.spearmanr(signal_filtered, rolling_ts)[0], 2)
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:255: RuntimeWarning: divide by zero encountered in divide
  period = 1 / freq
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:271: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  score = np.round(stats.spearmanr(signal_filtered, rolling_ts)[0], 2)
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:255: RuntimeWarning: divide by zero encountered in divide
  period = 1 / freq
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:271: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  score = np.round(stats.spearmanr(signal_filtered, rolling_ts)[0], 2)
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:255: RuntimeWarning: divide by zero encountered in divide
  period = 1 / freq
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:271: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  score = np.round(stats.spearmanr(signal_filtered, rolling_ts)[0], 2)
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:421: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modes_saturation['seasonal'] = np.where(modes_saturation['seasonal_reconstruction_score'] > 0.5, 1, 0)
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:434: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ONE_MODE_DF['seasonality'] = [int(i[0]) for i in ONE_MODE_DF['seasonality'].values]
D:\AGH-Infa\Sano\dynamo_library\dynamo\create_longitudinal_characteristics_vector.py:435: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ONE_MODE_DF['s1_adj'] = np.where(ONE_MODE_DF['seasonal_reconstruction_score'] >= 0.4,

,feature,subject,mean,std,acf_noise,ljung_box_noise,flatness_score,white_noise_binary,PC1_loading,PC2_loading,...,lag_1_corr,lag_2_corr,lag_3_corr,lag_4_corr,lag_5_corr,lag_6_corr,lag_7_corr,lag_8_corr,lag_9_corr,non_stationary
0,TACGGAGGGTGCGAGCGTTAATCGGAATAACTGGGCGTAAAGGGCA...,male,2.625,8.057,0,0.000,0.076,0,0.008,0.037,...,0.480,0.350,0.259,0.127,0.087,0.048,0.028,0.022,0.055,1
1,TACGTATGTCACAAGCGTTATCCGGATTTATTGGGCGTAAAGCGCG...,male,0.065,0.497,0,0.000,0.003,0,0.002,0.007,...,0.890,0.697,0.496,0.331,0.221,0.129,0.111,0.120,0.101,0
2,TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGAG...,male,0.047,0.534,0,0.987,0.745,1,0.004,0.004,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0
3,TACGTAGGTCCCGAGCGTTGTCCGGATTTATTGGGCGTAAAGCGAG...,male,0.194,0.581,0,0.114,0.145,0,0.005,0.001,...,0.317,-0.012,-0.032,-0.039,-0.010,0.041,0.058,0.026,-0.033,0
4,TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCG...,male,0.600,1.599,0,0.000,0.114,0,0.009,0.017,...,0.233,0.132,0.014,0.011,0.000,0.043,-0.019,-0.020,0.114,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4892,TACGAAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...,donorB,0.324,3.239,0,0.294,0.274,0,0.000,0.012,...,0.529,0.218,-0.010,-0.010,-0.010,-0.010,-0.010,-0.010,-0.010,0
4893,TACGGAGGGTGCAAGCGTTATCCGGATTCACTGGGTTTAAAGGGTG...,donorB,0.091,0.994,0,0.440,0.222,0,0.001,0.008,...,0.514,0.028,-0.008,-0.009,-0.009,-0.009,-0.009,-0.009,-0.009,0
4894,TACGTAGGGAGCGAGCGTTATCCGGATTTATTGGGTGTAAAGGGTG...,donorB,0.008,0.126,1,1.000,0.931,1,0.002,0.004,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0
4895,TACGCAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...,donorB,0.004,0.063,1,1.000,0.931,1,0.002,0.004,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0
4896,TACGGAGGATGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,donorB,0.004,0.063,1,1.000,0.931,1,0.002,0.004,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0

### seasonal_reconstruction_score	 nie dziala!!!!

In [9]:
selector.analyse_pca_loadings()

,feature,PC1,PC2,PC1_loading,PC2_loading,subject
0,TACGGAGGGTGCGAGCGTTAATCGGAATAACTGGGCGTAAAGGGCA...,-0.007952,-0.037409,0.007952,0.037409,male
1,TACGTATGTCACAAGCGTTATCCGGATTTATTGGGCGTAAAGCGCG...,-0.001641,-0.006990,0.001641,0.006990,male
2,TACGTAGGGTGCGAGCGTTAATCGGAATTACTGGGCGTAAAGCGAG...,-0.004286,-0.003760,0.004286,0.003760,male
3,TACGTAGGTCCCGAGCGTTGTCCGGATTTATTGGGCGTAAAGCGAG...,-0.005201,-0.001198,0.005201,0.001198,male
4,TACGTAGGTGGCAAGCGTTGTCCGGAATTATTGGGCGTAAAGCGCG...,-0.008881,-0.016868,0.008881,0.016868,male
...,...,...,...,...,...,...
4892,TACGAAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...,-0.000252,0.012441,0.000252,0.012441,donorB
4893,TACGGAGGGTGCAAGCGTTATCCGGATTCACTGGGTTTAAAGGGTG...,-0.001150,0.008339,0.001150,0.008339,donorB
4894,TACGTAGGGAGCGAGCGTTATCCGGATTTATTGGGTGTAAAGGGTG...,-0.002137,0.003889,0.002137,0.003889,donorB
4895,TACGCAGGGGGCTAGCGTTGCTCGGAATGACTGGGCGTAAAGGGCG...,-0.002224,0.003511,0.002224,0.003511,donorB
4896,TACGGAGGATGCGAGCGTTATCCGGATTTACTGGGTGTAAAGGGAG...,-0.002223,0.003550,0.002223,0.003550,donorB